.icon-div {
    text-align: center;
    padding: 25px;
}

.icon-div i {
    font-size: 40px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #343a40;
    color: #8a9da0;
}