.icon-div {
    text-align: center;
    padding: 25px;
}

.icon-div i {
    font-size: 40px;
}

#reportMain {
    width: 100%;
    display: table;
}

.btn-select-role{
    margin: 10px 0;

#reportConfigContainer{
    position: relative;
    float: left;
    width: 20%;
    border-right: darkgrey 2px solid;
    padding: 1em 0em 0em 1em;
}
.reportConfig{
    margin-top: 1em;
}
#reportCanvas{
    position: relative;
    float: right;
    width: 80%;
}
#reportUpdate{
    width: 90%;
    position: center;
    margin-top: 1em;
}
#canvas{
    width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

html {
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #343a40;
    color: #9b9b9b;
    opacity: 0.5;
    width: 100%;

}

.formButtons {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .6rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-weight: 400;
    height:200px;
}

.formTitles {
    text-align: center;
}

#formStepsContainer {
    text-align: center;
    padding-top: 30px;
}

.formSteps {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.formErrorMessages {
    font-size: 11px;
    color: #a1b4bf;
    padding-left: 10px;
}